{% extends "base.html" %}

{% block content %}
<div class="container bg-white">
    <button type="button" class="btn btn-light" data-toggle="modal" data-target="#modalcreate">Add New Review</button>
    <table class="table">
        <thead>
            <tr>
                <th><abbr title="Title">Title</abbr></th>
                <th><abbr title="Genre">Genre</abbr></th>
                <th><abbr title="Director">Director</abbr></th>
                <th><abbr title="Franchise">Franchise</abbr></th>
                <th><abbr title="Rating">Rating</abbr></th>
            </tr>
        </thead>
        <tbody>
            {% for show in shows %}
            <tr>
                <td>{{ show.title }}</td>
                <td>{{ show.genre }}</td>
                <td>{{ show.director }}</td>
                <td>{{ show.franchise }}</td>
                <td>{{ show.rating }}</td>
                <td>
                    <button type="button" class="btn btn-light" data-toggle="modal" data-target="#modaledit">Edit</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block modals %}
<div class="modal fade" id="modaledit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit show Review</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="show-title" class="col-form-label">Title</label>
                        <input type="text" class="form-control" name="title">
                    </div>
                    <div class="form-group">
                        <label for="show-genre" class="col-form-label">Genre</label>
                        <input type="text" class="form-control" name="genre"></input>
                    </div>
                    <div class="form-group">
                        <label for="show-director" class="col-form-label">Director</label>
                        <input class="form-control" name="director"></input>
                    </div>
                    <div class="form-group">
                        <label for="show-franchise" class="col-form-label">Franchise</label>
                        <input type="text" class="form-control" name="franchise"></input>
                    </div>
                    <div class="form-group">
                        <label for="show-rating" class="col-form-label">Rating</label>
                        <input type="number" class="form-control" name="rating"></input>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Done</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalcreate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create New show Review</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('create_show') }}" method="POST">
                    <div class="form-group">
                        <label for="show-title" class="col-form-label">Title</label>
                        <input type="text" class="form-control" name="title">
                    </div>
                    <div class="form-group">
                        <label for="show-genre" class="col-form-label">Genre</label>
                        <input type="text" class="form-control" name="genre"></input>
                    </div>
                    <div class="form-group">
                        <label for="show-director" class="col-form-label">Director</label>
                        <input class="form-control" name="director"></input>
                    </div>
                    <div class="form-group">
                        <label for="show-franchise" class="col-form-label">Franchise</label>
                        <input type="text" class="form-control" name="franchise"></input>
                    </div>
                    <div class="form-group">
                        <label for="show-rating" class="col-form-label">Rating</label>
                        <input type="number" class="form-control" name="rating"></input>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Done</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}